name: Generate Snake Animation

on:
  schedule:
    - cron: "0 */12 * * *"  # Every 12 hours
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Generate Portfolio Theme Snake
        uses: Platane/snk@v3
        with:
          github_user_name: rachitsharma300
          outputs: |
            dist/github-contribution-grid-snake.svg?palette=github-dark&color_snake=#64ffda&color_dots=#64ffda,#ccd6f6,#8892b0
            dist/github-contribution-grid-snake-animated.svg?palette=github-dark&color_snake=#64ffda&color_dots=#64ffda,#ccd6f6,#8892b0&animate=true
      - name: Deploy to Output Branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          publish_branch: output
          cname: github.com
